.water {
max-width: 600px;
height: 500px;
z-index: -1;
position: relative;
background-size: cover;
-webkit-transform-style: preserve-3d;
transform-style: preserve-3d;
border-radius: 30px;
margin: 0 auto;
}

.fish {
max-width: 100%;
height: auto;
position: absolute;
left: 50%;
top: 50%;
-webkit-transform: translate(-50%, -50%) translateZ(50px);
-moz-transform: translate(-50%, -50%) translateZ(50px);
-ms-transform: translate(-50%, -50%) translateZ(50px);
-o-transform: translate(-50%, -50%) translateZ(50px);
transform: translate(-50%, -50%) translateZ(50px);
width: 600px;
border: 3px solid lightgrey;
border-radius: 15px;
display: inline-block;
margin-left: 17%;
}

@media (max-width: 768px) {

  .water {
  height: 300px;
  }

  .fish {
  max-width: 60%;
  }

}
