body {
    background: grey;
    background-size: 600% 600%;
    animation: gradient 30s ease-in-out infinite;
}

.box {
  font-family: "Agency FB", Helvetica;
  font-size: 23px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

img{
  max-width: 80%;
  height: auto;
  margin-left: 80%;
  margin-right: 80%;
}

.box div {
  width: 250px;
  height: 50px;
  text-align: center;
  color: white;
}

.box p{
  color: white;
  text-align: justify;
  word-break: keep-all;
  width: 90%;
}

#imgcomment{
  font-family: "Mate SC", Arial, sans-serif;
  font-size: 16px;
  text-align: center;
}

.blogForm{
  font-family: "Agency FB", Arial,sans-serif;
  font-size: 3vw;
  text-transform: uppercase;
  color: white;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

label{
  color: lightblue;
}

#btnClose{

  transform: scale(1.2);
}

#btnClose button{
    color: grey;
    font-size: 4vw;
}

#btnClose:hover{
  transform: scale(1.5);
}
