body {
    background: grey;
    background-size: 600% 600%;
    animation: gradient 30s ease-in-out infinite;
}

.box {
  font-family: "Agency FB";
  font-size: 28px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 250px;
  height: 50px;
  text-align: center;
  color: white;
}

.box p{
  color: white;
  text-align: center;
  width: 70%;
}

#imgcomment{
  font-family: "Mate SC";
  font-size: 20px;
}
