body {
    background: grey;
    background-size: 600% 600%;
    animation: gradient 30s ease-in-out infinite;
}

.box {
  font-family: "Agency FB";
  font-size: 28px;;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.box div {
  width: 250px;
  height: 50px;
  text-align: center;
  color: white;
}

.box p{
  color: white;
  text-align: center;
  width: 70%;
}

#imgcomment{
  font-family: "Mate SC";
  font-size: 20px;
}

.blogForm{
  font-family: "Agency FB";
  font-size: 30px;
  text-transform: uppercase;
  color: white;
  line-height: 150%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

label{
  color: lightblue;
}

#btnClose{
  transform: scale(1.5);
}

#btnClose button{
    color: grey;
}

#btnClose:hover{
  transform: scale(2);
}
